---
layout: default
title: 简历
---
<div class="row" style="margin-bottom: 8px;">
  <div class="col">
    <button type="button" class="btn btn-primary"><i class="fa fa-user" style="margin-right:3px;"></i>基本信息</button>
  </div>
</div>
<div class="row" style="margin-bottom: 8px;">
  <div class="col">
    <span class="badge rounded-pill bg-info">研发团队管理</span>
    <span class="badge rounded-pill bg-secondary">产品总监</span>
    <span class="badge rounded-pill bg-primary">研发总监</span>
    <span class="badge rounded-pill bg-danger">信息安全</span>
    <span class="badge rounded-pill bg-warning text-dark">智能设备</span>
    <span class="badge rounded-pill bg-success">医疗信息化</span>
    <span class="badge rounded-pill bg-light text-dark">物联网</span>
    <!-- <span class="badge rounded-pill bg-dark">智慧城市</span> -->
  </div>
</div>
<div class="row">
  <div class="col-sm-9">


    <div class="row" style="padding-left:3px;margin-top:13px;">
      <div class="col-md-4">
        <label class="form-label">姓名：</label>
        <label class="form-label">余东庄</label>
      </div>
      <div class="col-md-4">
        <label class="form-label">出生日期：</label>
        <label class="form-label"></label>
      </div>
      <div class="col-md-4">
        <label class="form-label">政治面貌：</label>
        <label class="form-label">群众</label>
      </div>
    </div>
    <div class="row" style="padding-left:3px;">
      <div class="col-md-4">
        <label class="form-label">学历：</label>
        <label class="form-label">本科</label>
      </div>
      <div class="col-md-4">
        <label class="form-label">手机：</label>
        <label class="form-label">180 1130 6669</label>
      </div>
      <div class="col-md-4">
        <label class="form-label">邮箱：</label>
        <label class="form-label">yusais_life@qq.com</label>
      </div>
    </div>
    <div class="row" style="padding-left:3px;">
      <div class="col-md-4">
        <label class="form-label">工作经历：</label>
        <label class="form-label">15年</label>
      </div>
      <div class="col-md-6">
        <label class="form-label">状态：</label>
        <label class="form-label">在职-考虑机会</label>
      </div>
      <div class="col-md-3">
        <label class="form-label"></label>
        <label class="form-label"></label>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <figure class="figure">
      <img src="https://image0.lietou-static.com/big/5f59deeff6d1ab58475129b003u.jpg" class="figure-img img-fluid rounded mx-auto" alt="...">
      <figcaption class="figure-caption">A caption for the above image.</figcaption>
    </figure>
  </div>
</div><a id="A2"></a>
<div class="row" style="margin-bottom: 3px;">
  <div class="col">
    <button type="button" class="btn btn-secondary"><i class="fa fa-calendar" style="margin-right:3px;"></i>教育经历</button>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">学校</th>
      <th scope="col">起止日期</th>
      <th scope="col">专业</th>
      <th scope="col">学历</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>西南大学</td>
      <td>2004-2006年</td>
      <td>计算机网络技术</td>
      <td>本科</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>重庆电子工程学院</td>
      <td>2002-2004年</td>
      <td>软件工程</td>
      <td>专科</td>
    </tr>
  </tbody>
</table><a id="A3"></a>
<div class="row" style="margin-bottom: 3px;">
  <div class="col">
    <button type="button" class="btn btn-success"><i class="fa fa-sitemap" style="margin-right:3px;"></i>职业意向</button>
  </div>
</div>
<div class="row" style="margin-bottom: 3px;">
  <div class="col">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">期望行业 :
        <span class="badge bg-light rounded-pill text-dark">计算机软件</span>
        <span class="badge bg-light rounded-pill text-dark">IT服务/系统集成</span>
        <span class="badge bg-light rounded-pill text-dark">信息安全</span>
        <span class="badge bg-light rounded-pill text-dark">物联网</span>
      </li>
      <li class="list-group-item">期望职能 :
        <span class="badge bg-light rounded-pill text-dark">产品团队管理/研发团队管理</span>
        <span class="badge bg-light rounded-pill text-dark">产品总监</span>
        <span class="badge bg-light rounded-pill text-dark">研发总监</span>
      </li>
      <li class="list-group-item">期望地点 :
        <span class="badge bg-light rounded-pill text-dark">成都</span>
      </li>
      <!-- <li class="list-group-item">期望薪资：
    <span class="badge bg-light rounded-pill text-dark">面议</span></li>
  <li class="list-group-item">优秀的团队更优先。</li> -->
    </ul>
  </div>
</div><a id="A4"></a>
<div class="row" style="margin-bottom: 3px;">
  <div class="col">
    <button type="button" class="btn btn-danger"><i class="fa fa-plane" style="margin-right:3px;"></i>工作经历</button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-hover table-striped ">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">在职时间</th>
          <th scope="col">公司名称</th>
          <th scope="col">部门/职位</th>
          <th scope="col">行业类型</th>
          <th scope="col">产品研发</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">3</th>
          <td>2019年-至今</td>
          <td>四川劳吉克信息技术有限公司</td>
          <td>产品研发部 / 产品研发主管</td>
          <td>医疗信息化</td>
          <td>&gt;15人</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>2017年-2019年</td>
          <td>四川广聚其力电子科技有限公司</td>
          <td>研发中心 / 副总经理</td>
          <td>建筑 / 物联网</td>
          <td>&gt;60人</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>2006年-2017年</td>
          <td>成都三零盛安信息系统有限公司</td>
          <td>安全软件中心 / 部门经理</td>
          <td>系统集成 / 信息安全</td>
          <td>&gt;20人</td>
        </tr>
      </tbody>
    </table>
  </div>
</div><a id="A5"></a>
<div class="row" style="margin-bottom: 8px;">
  <div class="col">
    <button type="button" class="btn btn-warning"><i class="fa fa-male" style="margin-right:3px;"></i>个人简介</button>
  </div>
</div>
<div class="row" style="margin-bottom: 8px;">
  <div class="col" style="line-height: 200%;">
    <p>从98年学C语言开始，到现在编程已经二十多年，对软件工程有一定的个人理解和较深理论基础，同时，对产品和研发也有一定的个人积累，有较多实际项目经验。2006年到三十所参加第一份工作，从编写代码开始，逐渐转型为研发团队管理。有较强的抗压能力，能快速完成上级交付的任务，在三十所多次获得年度先进个人、及优秀管理者荣誉。</p>
    
    <p>随着物联网发展，几年前从三十所出来，进入了智能硬件领域，组建团队完成了“塔机”、“门机”、“聚砼”等设备的研发（其中塔机设备川渝市场占有率第一）；</p>
    <p>个人比较熟悉软件产品、硬件产品开发，在信息安全、物联网通信、智能设备、行业应用、政府信息化、科研院所等领域较为熟悉；且如果贵公司在以上领域需要协作，可以同我联系，期待合作。</p>
    
    <p>学历，对我来说是硬伤，但我相信自己的累积和经验，工作不是靠学历，敢做和实践才是真道理。</p>
  </div>
</div><a id="A6"></a>
<div class="row" style="margin-bottom: 123px;">
  <div class="col">
    <button type="button" class="btn btn-info"><i class="fa fa-list-ul" style="margin-right:3px;"></i>项目经历</button>
  </div>
</div>
<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
  {% else %}
  <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
  {% endif %}
  {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->