---
layout: default
title: 简历
---
<!-- <div class="row" style="margin-bottom: 8px;">
  <div class="col">
    <span class="badge rounded-pill bg-info">研发团队管理</span>
    <span class="badge rounded-pill bg-secondary">产品总监</span>
    <span class="badge rounded-pill bg-primary">研发总监</span>
    <span class="badge rounded-pill bg-danger">信息安全</span>
    <span class="badge rounded-pill bg-warning text-dark">智能设备</span>
    <span class="badge rounded-pill bg-success">医疗信息化</span>
    <span class="badge rounded-pill bg-light text-dark">物联网</span>
    <!-- <span class="badge rounded-pill bg-dark">智慧城市</span> - ->
  </div>
</div> -->
<div class="fixed-top" style="margin-right:0px !important;left:auto !important;top:13px;right:13px;">
  <div class="btn-group" style="margin-bottom:6px;">
    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      工作履历
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#A6">成都三零盛安</a></li>
      <li><a class="dropdown-item" href="#A7">四川广聚其力</a></li>
      <li><a class="dropdown-item" href="#A8">四川劳吉克</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#A2">个人简介</a></li>
    </ul>
  </div>  <br />
  <div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      返回顶部
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#A3">基本信息</a></li>
      <li><a class="dropdown-item" href="#A4">职业领域</a></li>
      <li><a class="dropdown-item" href="#A5">教育经历</a></li>
      <li><a class="dropdown-item" href="#A9">联系方式</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#A1">返回顶部</a></li>
    </ul>
  </div>
</div><a id="A3"></a>
<!--<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">基本信息</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">更多选择</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">教育经历</a></li>
      <li><a class="dropdown-item" href="#">职业意向</a></li>
      <li><a class="dropdown-item" href="#">工作经历</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">联系方式</a></li>
    </ul>
  </li>
</ul>-->
<div class="row" style="margin-bottom: 3px;">
  <div class="col">
    <button type="button" class="btn btn-success">
      <i class="fa fa-sitemap"
         style="margin-right:3px;"></i>基本信息
    </button>
  </div>
</div>
<table class="table table-hover table-striped" style="font-family:宋体;">
  <thead>
    <tr>
      <th scope="col" style="font-family:'Courier New';">Title</th>
      <th scope="col" style="font-family:'Courier New';">Summary</th>
      <th scope="col" style="font-family:'Courier New';">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>姓名：</td>
      <td>余东庄</td>
      <td style="font-family:'Courier New';font-size:1rem;">@name</td>
    </tr>
    <tr>
      <td>YOB：</td>
      <td>1984年</td>
      <td style="font-family:'Courier New';font-size:1rem;">@fat</td>
    </tr>
    <tr>
      <td>手机：</td>
      <td>180 1130 6669</td>
      <td style="font-family:'Courier New';font-size:1rem;">@mobile</td>
    </tr>
    <tr>
      <td>学历：</td>
      <td>本科</td>
      <td style="font-family:'Courier New';font-size:1rem;">@edu</td>
    </tr>
    <tr>
      <td>籍贯：</td>
      <td>重庆</td>
      <td style="font-family:'Courier New';font-size:1rem;">@twitter</td>
    </tr>
    <tr>
      <td>邮箱：</td>
      <td>yusais_life@qq.com</td>
      <td style="font-family:'Courier New';font-size:1rem;">@email</td>
    </tr>
    <tr>
      <td>状态：</td>
      <td>在职-考虑机会</td>
      <td style="font-family:'Courier New';font-size:1rem;">@status</td>
    </tr>
  </tbody>
</table>

<a id="A4"></a>
<div class="row" style="margin-bottom: 3px;">
  <div class="col">
    <button type="button" class="btn btn-info">
      <i class="fa fa-sitemap"
         style="margin-right:3px;"></i>职业领域
    </button>
  </div>
</div>
<ul class="list-group list-group-flush" style="font-size:1.26rem">
  <a href="#action" class="list-group-item list-group-item-action list-group-item-success"></a>
  <a href="#action" class="list-group-item list-group-item-action list-group-item-light text-reset">产品团队&nbsp;&nbsp;&nbsp;开发团队&nbsp;&nbsp;&nbsp;质量团队&nbsp;&nbsp;&nbsp;运维团队</a>
  <a href="#action" class="list-group-item list-group-item-action list-group-item-light text-reset">团队管理&nbsp;&nbsp;&nbsp;团队协作&nbsp;&nbsp;&nbsp;公司管理</a>
  <a href="#action" class="list-group-item list-group-item-action list-group-item-info text-reset">信息安全&nbsp;&nbsp;&nbsp;智能硬件&nbsp;&nbsp;&nbsp;物联网</a>
  <a href="#action" class="list-group-item list-group-item-action list-group-item-light"></a>
  <a href="#action" class="list-group-item list-group-item-action list-group-item-success"></a>
</ul>
<a id="A4" style="margin:13px;"></a>
<div class="row" style="margin-bottom: 13px;">
  <div class="col">
    <button type="button" class="btn btn-danger">
      <i class="fa fa-plane"
         style="margin-right:3px;"></i>工作履历
    </button>
    <a id="A6"></a></div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-striped" style="font-size:1.26rem">
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><b><a href="https://www.tianyancha.com/company/251020498" target="_blank">成都三零盛安</a></b></td>
          <td>安全软件中心 / 部门经理</td>
          <td></td>
          <td style="text-align:right">2006年6月 - 2017年12月</td>
        </tr>
        <tr>
          <td colspan="5">
            <p>
              <button class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">系统集成 / 信息安全</button>
            </p>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                任职安全软件中心部门经理，盛安公司研发中心分为“应用软件中心“和”安全软件中心“。应用软件中心负责企事业单位、行业软件的开发；安全软件中心负责涉密安全信息系统的开发；
              </div>
            </div>
            <p>
              任职安全软件中心部门经理，盛安公司主要以系统集成、涉密信息安全、政府部门、企事业单位、科研院所、安全保密系统为主，在盛安工作了相对较长的时间，项目经历如下：
            </p><a id="检察院业务系统"></a>
            ◇<span class="fw-bold">&nbsp;&nbsp;检察院业务办案系统：</span><br />
            <p class="inddent">反贪、反渎、公诉、侦监、民事行政、案件管理、综合业务管理，采用Java+Oracle实现，略。</p>
            ◇<span class="fw-bold">&nbsp;&nbsp;组织部业务系统：</span>
            <p class="inddent">组织建设、干部任免、干部监督、干部教育、从省级到基层人事业务（包括：村两委）全覆盖，技术架构采用Java+SSH+Oracle实现，简历中不详述细节略。</p>
            ◇<span class="fw-bold">&nbsp;&nbsp;远程提审系统：</span>
            <p class="inddent">案件管理、远程视频管理、提审管理、电子笔录、电子签名、笔录同步管理，采用.NET+Oracle实现，略。</p>
            ◇<span class="fw-bold">&nbsp;&nbsp;某科研联试网：</span>
            <p class="inddent">某科研联试网，从元器件供应链、生产计划、"装被"生产、统一用户、门户Portal集成、安全邮件、OA办公，基于CA认证，用户终端采用一Key通，前端集成IBM Websphere、Lotus domino等；</p>
            <p class="inddent">涉密信息安全系统。</p>
            ◇<span class="fw-bold">&nbsp;&nbsp;龙信使安全电子邮件：</span>
            <p class="inddent">严格按照分级保护要求，采用身份鉴权、登录认证、密级标识、数字签名、加密解密、密级流向控制、反垃圾邮件等技术手段，解决在通信过程中的信息泄露、假冒、篡改、抵赖等安全风险。</p>
            <p class="inddent">涉密信息安全系统。</p>
            <p class="inddent">最高人民检察院：<a href="https://mail.spp.gov.cn/" target="_blank">https://mail.spp.gov.cn/</a></p>
            <p class="inddent">
              <img src="https://gitee.com/helloyuzz/sharepic/raw/master/dm/spp.gov.cn.png" style="margin-left:30px;width:96%;border:1px solid #8394ad" />

              <img src="https://gitee.com/helloyuzz/sharepic/raw/master/dm/dm.png" style="margin-left:30px;width:96%;" />
            </p>
            <p class="inddent">该产品通过国家保密局测评。</p>
            ◇<span class="fw-bold">&nbsp;&nbsp;密信通安全即时通信：</span>
            <p class="inddent">严格按照分级保护要求，依据涉密系统安全原则，在即时通信协议的基础上，采用基于PKI体系、双向认证、传输加密、存储加密、文件密级标识体系基础上，开发的一套简洁、易用的安全即时通信平台。具有“进不来”、“拿不走”、“看不懂”、“改不了”、“跑不掉”等特性，适用高保密要求的政府机关、军工行业、科研院所、金融等行业。</p>
            <table style="margin-left:30px;width:96%;">
              <tr>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/%E5%AF%86%E4%BF%A1%E9%80%9A/09fc83b6acc3b6002a4debbf987eb491.png" /></td>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/%E5%AF%86%E4%BF%A1%E9%80%9A/5b3bb19a6e7f934a7dd20d989cda2d2c.png" style="width:790px;" /></td>
              </tr>
            </table>
            <p class="inddent">该产品通过国家密码管理局认证。</p>
            <p class="inddent">备注：在岗期间为国家涉密人员（注：现已过脱密期），参与的以涉密项目为主，服务于政府机构、企事业单位、科研院所，大部分项目都属于涉密项目。</p>
            <p class="inddent">17年从选择了盛安出来，但这份工作经历让我收益良多。</p><a id="A7"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-striped" style="font-size:1.26rem">
      <tbody>
        <tr>
          <th scope="row">2</th>
          <td><b><a href="https://www.tianyancha.com/company/3268554774" target="_blank">四川广聚其力</a></b></td>
          <td>副总经理</td>
          <td></td>
          <td style="text-align:right">2017.1月 - 2019.9月</td>
        </tr>
        <tr>
          <td colspan="5">
            <p>
              <button class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">物联网 / 建筑行业 / 智慧工地</button>
            </p>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                任职公司副总经理，分管公司的产品设计、软、硬件研发、工厂、测试质检等职能部门；公司业务主要面向建委、安监站、质检站、建筑公司、项目部、产权单位。
              </div>
            </div>
            <p>
              公司主要以物联网软、硬件为主，服务于建委、安监站、质检站，建筑公司、项目部、各产权单位，主要产品有：“成都市起重机械安全管理平台”，“塔机安全管理系统”、“门式起重机安全管理系统”、“混凝土安全防伪系统”，项目经历描述如下：
            </p>
            ◇<span class="fw-bold">&nbsp;&nbsp;成都市起重机械安全管理平台</span><br />
            <p class="inddent">成都市起重机械安全管理平台：<a href="http://171.221.172.141/auth/loginUI.action" target="_blank">http://171.221.172.141/auth/loginUI.action</a></p>
            <p class="inddent">
              <img src="https://gitee.com/helloyuzz/sharepic/raw/master/sht/auth.png" style="margin-left:30px;width:96%;" />
              <img src="https://gitee.com/helloyuzz/sharepic/raw/master/sht/autu_index.png" style="margin-left:30px;width:96%;" />
            </p>
            <p class="inddent">平台负责成都市全市所有工地（包括市管工地）塔机监控设备的安、维、拆业务办理，业务由产权单位发起，安监站受理，公司运维负责派单到现场安装实施。根据管理办法规定，所有塔机必须安装监控，实现对塔机吊钩、吊重、风速、转角、倾斜、防碰撞、小车位置的实时监控预警。</p>
            <p class="inddent">平台通过三维建模，对接现场设备，实现了对塔机设备的实时三维监控。</p>
            <p class="inddent">
              <img src="https://gitee.com/helloyuzz/sharepic/raw/master/sht/3D.png" style="margin-left:30px;width:96%;" />
              <img src="https://gitee.com/helloyuzz/sharepic/raw/master/sht/crane.png" style="margin-left:30px;width:96%;" />
            </p>
            <p class="inddent">监控平台采用.NET+Mysql开发实现，前端设备通过Zigbee组网。</p>
            ◇<span class="fw-bold">&nbsp;&nbsp;成都市娱乐场所管理系统</span><br />
            <p class="inddent">成都市娱乐场所管理系统，<a href="http://www.cdhycs.com" target="_blank">www.cdhycs.com</a>，系统利用二代证识别模块自动扫描采集流动从业人员信息，数据存储到分局人员信息服务器，并同时传送到公安人员信息服务器。通过边界平台定时传输到公安平台进行对比，返回对比结果，在兼顾分局数据采集需求的同时，满足分局利用人员信息在互联网上开展更直观的人员预警、查询、布控、追逃、跟踪、综合数据查询和信息共享发布。采用Java+Mysql开发实现。</p>
            <p class="inddent">
              <img src="https://gitee.com/helloyuzz/sharepic/raw/master/sht/changsuo.png" style="margin-left:30px;width:96%;" />
            </p>

            ◇<span class="fw-bold">&nbsp;&nbsp;塔机安全管理系统</span><br />
            <p class="inddent">该产品为开发的硬件设备，由多种传感器组成，由统一的主机进行数据分析处理，并通过协议和mqtt平台进行对接，数据连接采用4G物联网卡（与联通公司合作）。</p>
            <p class="inddent">设备由：主机、司机监控端、吊重滑轮组、高度编码器、转角绝对值编码器、小车位置/变幅传感器、风速传感器、顶升高度监测等部件组成一整套的塔机安全监控系统。</p>
            <table style="width:96%;margin-left:30px;">
              <tr>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/sht/zhuji.png" /></td>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/sht/xianshiping.png" /></td>
              </tr>
              <tr>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/sht/gaodu.png" /></td>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/sht/zhuanjiao.png" /></td>
              </tr>
            </table>
            <p class="inddent">塔机设备，软硬件均为自主设计、自行研发、自主生产。</p>
            ◇<span class="fw-bold">&nbsp;&nbsp;门式起重机安全管理系统</span>
            <p class="inddent">门式起重安全管理系统和塔机类似，其主要用于地铁、涵洞类施工，同样也是由主机、吊钩、吊重、大小车变幅、轨道形变多种传感器组成的一整套门式起重器安全监测系统。</p>
            <table style="width:96%;margin-left:30px;">
              <tr>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/sht/zhuji.png" /></td>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/sht/menji.png" /></td>
              </tr>
              <tr>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/sht/weizhi.png" /></td>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/sht/chuanganqi.png" /></td>
              </tr>
            </table>
            <p class="inddent">此设备，也全部为自主设计、自行研发、自主生产。</p>
            <p class="inddent"></p>
            ◇<span class="fw-bold">&nbsp;&nbsp;混凝土安全防伪系统</span><br />
            <p class="inddent">混凝土安全防伪系统，是公司的又一重点项目，主要解决目前混凝土行业内（如：降低使用标号）的防伪空白。面向建委、建设单位、施工单位、检测单位、监理的一整套安全防伪系统。实现从混凝土试块取样见证到检测完成并上传建委平台的完整过程管理。</p>
            <p class="inddent">设备由：源代码植入设备、触控养护一体机、标养架、同养架、收样检测设备、压力检测仪组成，“聚砼”+“力筑”云平台的模式。</p>
            <table style="width:96%;margin-left:30px;">
              <tr>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/sht/zhiru.png" /></td>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/sht/xianshiqi.png" /></td>
              </tr>
              <tr>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/sht/byj.png" /></td>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/sht/tyj.png" /></td>
              </tr>
              <tr>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/sht/jiance.png" /></td>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/sht/pc.png" /></td>
              </tr>
              <tr>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/sht/app.png" /></td>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/sht/demo.jpg" /></td>
              </tr>
            </table>
            <p class="inddent">“聚砼”软硬件全部为自主设计、自行研发、自主生产。也同步申请了国家发明专利。</p>
            <table style="width:96%;margin-left:30px;">
              <!--<tr>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/sht/chaxun.png" /></td>
              </tr>-->
              <tr>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/sht/zhuanli.png" /></td>
              </tr>
            </table>
            <p class="inddent">国家知识产权局发明专利申请查询结果。<a href="http://cpquery.sipo.gov.cn/" target="_blank">http://cpquery.sipo.gov.cn/</a></p>
            ◇<span class="fw-bold">&nbsp;&nbsp;工厂管理</span><br />
            <p class="inddent">管理过一段时间工厂，工厂在龙泉车城西路工业园，负责了建厂之初的环评、厂区规划、激光切割、剪板机、折弯机、数控、850加工中心设备的采购工作。</p>
            <p class="inddent">广聚其力，是从三十所出来的第一份工作，这份经历同样也是收益良多。</p><a id="A8"></a>
          </td>
        </tr>        
        <tr>
          <th scope="row">3</th>
          <td><b><a href="https://www.tianyancha.com/company/2354581742" target="_blank">四川劳吉克</a></b></td>
          <td>产品负责人&nbsp;&nbsp;&nbsp;+&nbsp;&nbsp;&nbsp;研发负责人</td>
          <td></td>
          <td style="text-align:right">2019.10月 - 至今</td>
        </tr>
        <tr>
          <td colspan="5">
            <p>
              <button class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">医疗信息化</button>
            </p>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                任职“产品负责人”和“研发负责人”，公司不设经理；主要面向医疗供应室开展追溯业务，以软件+耗材的商业模式。
              </div>
            </div>
            <p>
              公司主要以软件+耗材为主，主要负责对接供应室用户需求，将用户需求原型化，制作保真原型，并指导研发团队进行项目开发，项目经历描述如下：
            </p>
            ◇<span class="fw-bold">&nbsp;&nbsp;人事招聘</span><br />
            <p class="inddent">负责团队的人员招聘，培训，和团队建设。</p>
            ◇<span class="fw-bold">&nbsp;&nbsp;内镜追溯系统</span><br />
            <p class="inddent">内镜洗消追溯管理，从内镜刷卡流程，结合洗消耗材管理。</p>
            ◇<span class="fw-bold">&nbsp;&nbsp;供应室CSSD追溯系统</span><br />
            <p class="inddent">供应室从回收、清洗、包装、灭菌、审核、存储、发放、领取、使用到再回收的全程追溯管理。系统根据国家消毒灭菌规范设计，符合医疗器械管理原则。</p>
            <table style="width:96%;margin-left:30px;">
              <tr>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/ljk/login.jpg" /></td>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/ljk/main.jpg" /></td>
              </tr>
              <tr>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/ljk/huishou.jpg" /></td>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/ljk/scaleview.jpg" /></td>
              </tr>
            </table>
            ◇<span class="fw-bold">&nbsp;&nbsp;人工智能识别</span><br />
            <p class="inddent">解决在医院口罩佩戴、护目镜佩戴、防护服穿戴检测，设备置于医院关键入口位置，未正确穿戴者进行警示报警，提示禁止入内，并追溯。</p>
            ◇<span class="fw-bold">&nbsp;&nbsp;蓝鹰Box对接设备</span><br />
            <p class="inddent">解决和供应室消毒设备、清洗设备的统一对接，比如：3M、倍力曼、洁定、新华、强生等品牌的设备对接，获取设备的运行过程数据和消毒灭菌结果数据，同时上传到平台上以图形化的方式追溯显示。</p>
            ◇<span class="fw-bold">&nbsp;&nbsp;协作管理平台</span><br />
            <p class="inddent">搭建了一套从销售、到产品、研发、运维协作管理平台，缕清了部门间协作的流程，让工作管理、沟通效率更高，做到责任分工清楚，遇到问题清楚找谁去协作，同时快速响应客户的反馈。</p>
            <table style="width:96%;margin-left:30px;">
              <tr>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/ljk/redmine.png" /></td>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/ljk/publish.png" /></td>
              </tr>
              <tr>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/ljk/plan.png" /></td>
                <td><img src="https://gitee.com/helloyuzz/sharepic/raw/master/ljk/platform.jpg" /></td>
              </tr>
            </table>
            <p class="inddent">协作管理平台，<a href="http://redmine.logichealth.cn/" target="_blank">http://redmine.logichealth.cn/</a></p>
            <p class="inddent">以上是大致的项目工作情况，感谢您的阅读！。</p><a id="A2"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="row" style="margin-bottom: 8px;">
  <div class="col">
    <button type="button" class="btn btn-warning"><i class="fa fa-male" style="margin-right:3px;"></i>个人简介</button>
  </div>
</div>
<div class="row" style="margin-bottom: 8px;">
  <div class="col" style="line-height: 200%;">
    <h3>
      <p class="inddent">
        软件工程出身，从98年开始学C语言，学生时期曾多次获得重庆市级竞赛二等奖，到现在编程已经二十多年，对软件工程有一定的个人理解和较深理论基础，同时，对产品和研发也有一定的个人积累，有较多实际项目经验。2006年进入到三十所参加第一份工作，从开发软件，到逐渐转型为研发团队管理。有较强的抗压能力，能快速完成项目任务，在三十所多次获得年度先进个人、及优秀管理者荣誉称号。
      </p>
      <p class="inddent">随着物联网发展，几年前，从三十所出来，进入了物联网行业，和智能硬件领域，组建团队完成了“塔机”、“门机”、“聚砼”、“力筑”等设备及平台研发；</p>
      <p class="inddent">个人相对比较熟悉软件、硬件，在信息安全、物联网、智能硬件（智慧工地、智慧城市、智慧小区），和政府行业、涉密信息化、科研院所等领域较为熟悉；且如果贵公司在以上领域需要协助，可以和我联系。</p>

      <p class="inddent">学历相对欠缺一些，尚需努力。</p>
    </h3>
  </div>
</div>


<a id="A5"></a>
<div class="row" style="margin-bottom: 3px;">
  <div class="col">
    <button type="button" class="btn btn-success">
      <i class="fa fa-calendar"
         style="margin-right:3px;"></i>教育经历
    </button>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">学校</th>
      <th scope="col">起止日期</th>
      <th scope="col">专业</th>
      <th scope="col">学历</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>重庆电子工程学院</td>
      <td>2002-2004年</td>
      <td>软件工程</td>
      <td>专科</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>西南大学</td>
      <td>2004-2006年</td>
      <td>计算机网络技术</td>
      <td>本科</td>
    </tr>
  </tbody>
</table>


<a id="A6"></a>
<div class="row" style="margin-top: 16px; margin-bottom: 16px;">
  <div class="col">
    <button type="button" class="btn btn-warning"><i class="fa fa-list-ul" style="margin-right:3px;"></i>联系方式</button>
  </div>
</div><a id="A9"></a>
<div class="row" style="margin-bottom: 66px;">
  <div class="col-3">
    <img src="https://gitee.com/helloyuzz/sharepic/raw/master/bio/IMG_0133.JPG" style="width:96%;">
  </div>
  <div class="col"></div>
  <div class="col-2">
    <figure class="figure">
      <img src="https://image0.lietou-static.com/big/5f59deeff6d1ab58475129b003u.jpg" class="figure-img img-fluid rounded mx-auto">
      <figcaption class="figure-caption">A captain for the above image.</figcaption>
    </figure>
  </div>
</div>
<div class="row" style="margin-bottom: 3px;">
  <div class="col text-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      感谢您的阅览，Copyright @JackSparrow
    </nav>
  </div>
</div>
<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
  {% else %}
  <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
  {% endif %}
  {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
